@model SISONKE_Invoicing_ASPNET.Areas.Customer.Models.InvoiceProductsVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Customer/_CustomerLayout.cshtml";
}


<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="CrudCustomers/Index">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div>

    <section class="section dashboard">
        <div class="row">

            <div class="col-lg-12">
                <div class="row">

                    <div class="col-lg-6">
                        <div class="card info-card sales-card">


                            <div class="card-body">
                                <h5 class="card-title">My Invoices</h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-cart"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Model.Invoices.Count</h6>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card info-card revenue-card">


                            <div class="card-body">
                                <h5 class="card-title">Total Invoice Payments</h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-currency-dollar"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@String.Format("{0}{1:#.00}", "R", Model.Invoices.Sum(c => c.TotalAmount))</h6>


                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">


                        <div class="card-body">
                            <h5 class="card-title">My Invoices</h5>



                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Invoice Date</th>
                                        <th scope="col">Due Date</th>
                                        <th scope="col">Product</th>
                                        <th scope="col">Subtotal</th>
                                        <th scope="col">Tax</th>
                                        <th scope="col">Total Amount</th>
                                        <th scope="col">Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Invoices.Take(5))
                                    {
                                        if (Model.InvoiceItems.Where(a => a.InvoiceId == @item.InvoiceId).Count() > 0)
                                        {
                                            <tr>
                                                <td>@String.Format("{0:d}", item.InvoiceDate)</td>
                                                <td>@String.Format("{0:d}", item.DueDate)</td>
                                                <td>@Model.Products.FirstOrDefault(v => v.ProductId == Model.InvoiceItems.FirstOrDefault(a => a.InvoiceId == @item.InvoiceId).ProductId).Name </td>
                                                <td>@item.Subtotal</td>
                                                <td>@item.Tax</td>
                                                <td>@item.TotalAmount</td>
                                                <td>@item.Status</td>

                                            </tr>
                                        }
                                    }


                                    @if (Model.Invoices.Count > 5)
                                    {
                                        <tr>
                                            <td colspan="7">
                                                <a href="~/Customer/CrudCustomers/CustomerInvoices">View More</a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>


            </div>
        </div>



    </section>

</main>